<template>

<div class="container">
  <h1>Mantenedor de Productos</h1>
  <div class="row">
    <div class="col m12 card-panel">

      <form @submit.prevent="agregarProducto">
        <h2>Añadir un Producto</h2>
          <div class="row">
            <div class="col m4">
              <label>Nombre</label>
              <input type="text" v-model="nombre">
            </div>
            <div class="col m4">
              <label>Descripcion</label>
              <input type="text" v-model="descripcion">
            </div>
            <div class="col m4">
              <label>Precio</label>
              <input type="number" v-model="precio">
            </div>
          </div>

        <div class="row">
          <button type="submit" class="btn indigo darken-4">Añadir Producto</button>
        </div>
      </form> 
    </div>
  </div>

  <div class="row">
    <div class="col m12">
      <table class="center">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Precio</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
            <tr v-for="producto in productos" v-bind:key="producto">
              <td>{{producto.nombre}}</td>
              <td>{{producto.descripcion}}</td>
              <td>{{producto.precio}}</td>
              <td><a href="#!">Editar</a></td>
              <td><a href="#!">Eliminar</a></td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


</template>

<script>
export default {
  name: 'App',
  data(){
    return {
      nombre: '',
      descripcion: '',
      precio: 0,
      productos: [],

      select_instances: []
    }
  },
  mounted()
  {
    var elems = document.querySelectorAll('select');
    this.select_instances = M.FormSelect.init(elems, null);
  },
  methods: {
    agregarProducto()
    {
      var data = {
        nombre: this.nombre,
        descripcion: this.descripcion,
        precio: this.precio
      };
      this.productos.push(data);
      this.nombre = '';
      this.descripcion = '';
      this.precio = 0;
    },
  }
}
</script>



<style>
@import './assets/base.css';
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
